<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>

<% rss_urls.each do |url| -%>
<hr>
<a href='<%= url %>'><%= url %> - <%= feed(url).items.count %> items:</a>
  <ul>
    <% feed(url).items.each do |item| -%>
    <li> <a href='<%= item.link %>' > <%= item.title %></a></li>
<% end -%>
  </ul>
<% end -%>

</body>
</html>
