<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link type="text/css" rel="stylesheet" href="main.css"/>
  <link rel="manifest" href="/manifest.json">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>"/>
</head>
<body>
<div>
	<div style="padding:10px;">
		<strong style="color:#c00;"><%= title %></strong>
		|
		<span><%= Time.now.strftime('%F %R %Z') -%></span>
	</div><hr/>
	<div class="firehose">
		<strong>Stories</strong>
<p>
<% rss_urls.each do |url| -%>

  <h3>
    <a href='<%= url.gsub '/feed/', '' %>'><%= url.gsub '/feed/', ''  %> - <%= feed(url).items.count %> items:</a>
  </h3>
      <ul>
        <% feed(url).items.each do |item| -%>
      <li>
          <a href='<%= item.link %>' > <%= item.title %></a>
        </li>
    <% end -%>
      </ul>

<% end -%>
</p>
</div>
</div>

<script>
if('serviceWorker' in navigator) {
  navigator.serviceWorker
           .register('/sw.js')
           .then(function() { console.log("Service Worker Registered"); });

  navigator.serviceWorker.ready.then(function(registration) {
            console.log('Service Worker Ready'); });
}

<% if analytics_ua -%>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '<%= analytics_ua %>', 'auto');
ga('send', 'pageview');
<% end -%>
</script>

<% if analytics_ua -%>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<% end -%>

</body>
</html>
